<div
  class="container p-2"
  style="background-color: #C5E1D4; border-radius:4.8px;"
>
  <h2> Hasta Luego {{usuario}}</h2>
</div>
<script>
  const redirect = () => location.href = '/'; setTimeout(() => { redirect() },
  2000)
</script>